@import "tailwindcss";

html, body, #app { height: 100%; margin: 0; background: #000; }
body { font-family: ui-sans-serif, system-ui, sans-serif; }
.font-mono, code { font-family: 'JetBrains Mono', ui-monospace, Menlo, Consolas, monospace; }
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: #fff; }
::-webkit-scrollbar-track { background: #121212; }
